* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

/*Tampilan awal dari website sebelum di scroll*/
.first-interface {
    background-color: #653CE2;
    color: white;
    border-radius: 0 0 7px 7px;
}

/* Bar Atas */
header {
    padding: 28px 30px;
}
header .main_bar {
    display: flex;
    justify-content: space-between;
} 
header .main_bar .logo {
    font-family: 'Syne Tactile', cursive;
}
header .main_bar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
header .main_bar ul li {
    display: inline-block;
    padding: 0 20px;
}
header .main_bar ul li a {
    font-size: 15px;
}
.login {
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 20px;
}
header .main_bar ul li .belanja {
    font-size: 18px;
}
header .main_bar ul li a:hover {
    color: rgb(175, 175, 175);
}

/* Judul */
section {
    padding-left: 90px;
    padding-top: 40px;
    display: flex;
}
section .container-satu .header-satu {
    margin-bottom: 20px;
}
section .container-satu .header-dua {
    margin-bottom: 150px;
}
section .container-satu h1 {
    font-size: 40px;
}
section .container-satu button{
    background-color: tomato;
    border: none;
    outline: none;
    font-size: 20px;
    color: white;
    padding: 13px 70px;
    border-radius: 30px;
    cursor: pointer;
}
section .container-dua{
    width: 600px;
    height: 550px;
    padding-left: 200px;
    margin-left: 90px;
    background-image: url(../img/icon-store.png);
    background-size: cover;
    position: relative;
}
section .container-dua .header1 h2{
    background-color: #ff745c;
    padding: 15px;
    font-size: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}
section .container-dua .header2 h1 {
    background-color: white;
    padding: 15px;
    font-size: 50px;
    border-radius: 10px;
    color: rgb(51, 51, 51);
}

.harga-png {
    position: absolute;
    bottom: 30px;
    left: 0;
}
/*Akhir dari first interface*/

/*second interface*/
.second-interface {
    height: 400px;
    display: flex;
    margin: 40px 7px;
    justify-content: center;
}

.second-interface .bar1, .bar2, .bar3 {
    width: 25%;
}

/*Footer*/
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
}
footer .awal, .kedua, .akhir {
    margin: 3px auto;
}
footer a {
    color: grey;
    text-decoration: none;
    font-size: 13px;
    padding: 10px;
}
footer .akhir p {
    color: rgba(50, 50, 50, .5);
}
